# Django Secret Key
SECRET_KEY=

# Debug mode (True/False)
DEBUG=

# Database configuration
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=


# STRIPE PAYMENT SETTINGS

STRIPE_API_KEY=
STRIPE_PUBLIC_KEY=



# REDIS SETTINGS (for Celery)

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=



# EMAIL SETTINGS

# Для тестирования (письма в консоль)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@yourdomain.com

# Для реальной отправки через Mail.ru (раскомментировать при необходимости)
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
# EMAIL_HOST=smtp.mail.ru
# EMAIL_PORT=465
# EMAIL_USE_SSL=True
# EMAIL_HOST_USER=your_email@mail.ru
# EMAIL_HOST_PASSWORD=your_app_password

# Для реальной отправки через Gmail (раскомментировать при необходимости)
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587
# EMAIL_USE_TLS=True
# EMAIL_HOST_USER=your_email@gmail.com
# EMAIL_HOST_PASSWORD=your_app_password
# TIMEZONE SETTINGS (Для Celery задач)
# TIME_ZONE=Europe/Moscow
# USE_TZ=True
